/* You can add global styles to this file, and also import other style files */
@import "https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css";
@import "https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css";
@import "https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css";
@import "https://cdn.bootcss.com/admin-lte/2.4.8/css/AdminLTE.min.css";
@import "https://cdn.bootcss.com/admin-lte/2.4.8/css/skins/skin-blue.min.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600itali";

@media (min-width: 768px){
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav>li {
        float: left;
    }
}

.nav>li {
    display: block;
}

.navbar-nav {
    display: block!important;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.dropdown-toggle::after{
    display: none!important;
}

.main-header .navbar .nav > li > a > .label {
    position: absolute;
    top: 12px!important;
    right: 5px!important;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}
.main-header .navbar{
    height: 50px!important;
}

.navbar {
    position: relative;
    display: block!important;
    padding: 0!important;
}


.dropdown > li > a:hover {
    background-color: #e1e3e9;
    color: #333;
  }

  .skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a:hover{
    background: rgba(0,0,0,0.1)!important;
    color: #f6f6f6!important;
}

.skin-blue .main-header .navbar .nav>li>a{
    padding: 15px!important;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px!important;
}

